{% extends 'base.html' %}

{% block title %}
    Novak Djokovic
{% endblock %}

{% block content %}
<h1 style="padding-left:20px;">Novak Djokovic</h1>
<center>
    <img  src ="https://fotografias.antena3.com/clipping/cmsimages02/2023/02/01/25366594-8AB1-4C4E-9A31-838D0AE1AFD5/novak-djokovic-celebra-victoria-frente-stefanos-tsitsipas-open-australia_98.jpg?crop=5804,3266,x0,y136&width=1900&height=1069&optimize=low&format=webply"
    height="120px" width="213px" class="rounded-circle">
</center>
<p>.</p>


<p style="padding-left:20px;">
    Novak Djokovic es un tenista profesional serbio que ocupa la primera posición del ranking ATP.<br>
    Es considerado el mejor tenista de toda la historia en pista dura y uno de los mejores de todos los tiempos.<br>
</p>

<p style="padding-left:20px;">Nacimiento: 22 de mayo de 1987, Belgrado, Serbia</p>
<p style="padding-left:20px;">Hijos: Stefan Đoković, Tara Đoković</p>
<p style="padding-left:20px;">Cónyuge:  Jelena Djokovic (m. 2014)</p>
<p style="padding-left:20px;">Títulos de Grand Slam ganados (individuales): 22</p>
<p style="padding-left:20px;">Estatura: 1,85 m</p>
<p style="padding-left:20px;">Peso: 85 kg</p>

{% endblock %}