
{% extends 'base.html' %}

{% block title %}
    Roger Federer
{% endblock %}

{% block content %}
<h1 style="padding-left:20px;">Roger Federer</h1>
<center>
    <img  src ="https://ichef.bbci.co.uk/news/640/cpsprodpb/E1FD/production/_126735875_gettyimages-1243256745.jpg"
    height="120px" width="213px" class="rounded-circle">
</center>
<p>.</p>


<p style="padding-left:20px;">
Roger Federer es un ex tenista profesional suizo. Fue clasificado como el número 1 del mundo por la Asociación de Profesionales del Tenis durante 310 semanas,<br>
incluido un récord de 237 semanas consecutivas, y terminó como el número 1 al final del año cinco veces.<br>
</p>

<p style="padding-left:20px;">Nacimiento: 8 de agosto de 1981, Basilea, Suiza</p>
<p style="padding-left:20px;">Hijos: Myla Federer, Lennart Federer, Leo Federer, Charlene Federer</p>
<p style="padding-left:20px;">Cónyuge: Mirka Vavrinec (m. 2009)</p>
<p style="padding-left:20px;">Títulos de Grand Slam ganados (individuales): 20</p>
<p style="padding-left:20px;">Estatura: 1,85 m</p>
<p style="padding-left:20px;">Peso: 85 kg</p>



{% endblock %}