{% extends 'base.html' %}

{% block title %}
    Ignacio Fernández Lilli
{% endblock %}

{% block content %}
<h1 style="padding-left:20px;">Ignacio Fernández Lilli</h1>
<center>
    <img  src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR0Z90ChVocFd9eN3m19IDtFWdsT2NG0xeOAA&usqp=CAU"
    height="150px" width="217px" class="rounded-circle">
</center>
<p>.</p>


<p style="padding-left:20px;">
Creé la página para poder hacer un proyecto relacionado con el tenis, el deporte que practico todos los días y del cual soy aficionado. La idea es que pueda ir perfeccionándola<br>
 hasta que tenga algún uso conciso, como por ejemplo poder hacer un seguimiento de los torneos y partidos que juego.
Juego al tenis desde los 5 años y actualmente me dedico profesionalmente e intento mejorar en el circuito jugando torneos rentados en Argentina. Pero además estudio ciencia de datos en la Universidad Católica y trato de seguir aprendiendo sobre temas relativos a ello.<br>
Algunas implementaciones que podría añadir son: un sistema que sume los puntos de cada torneo para cada jugador, de forma tal que se pueda armar un ranking; tener los frente a frente de los partidos asociados a la vista de cada jugador; poder hacer anotaciones sobre los rivales; etc. También se podrían añadir mas campos a cada modelo, para incorpar informacion mas detallada de cada clase. Por último había pensado hacer un diccionario con los puntos que otorga cada torneo según su categoría, es decir, según el resultado del jugador poder tener asociad la cantidad de puntos que va a recibir ese jugador.<br>
</p>

<p style="padding-left:20px;">Nacimiento: 30 de octubre de 2002, Buenos Aires</p>
<p style="padding-left:20px;">Títulos de Grand Slam ganados: 0 (por ahora...)</p>
<p style="padding-left:20px;">Estatura: 1,91 m</p>
<p style="padding-left:20px;">Peso: 80 kg</p>
<p style="padding-left:20px;">Instagram: @nachofernaandez</p>



{% endblock %}