{% extends 'base.html' %}

{% block title %}
    Rafael Nadal
{% endblock %}

{% block content %}
<h1 style="padding-left:20px;">Rafael Nadal</h1>
<center>
    <img  src ="https://cloudfront-us-east-1.images.arcpublishing.com/infobae/5F26LRORYZQXEW33KC52CWDDUM.jpg"
    height="120px" width="213px" class="rounded-circle">
</center>
<p>.</p>


<p style="padding-left:20px;">
    Rafael Nadal Parera, más conocido como Rafa Nadal, es un tenista profesional español que ocupa la sexta posición del ranking ATP.<br>
Está considerado como el mejor tenista de la historia en pistas de tierra batida y uno de los mejores de todos los tiempos.<br>
</p>

<p style="padding-left:20px;">Nacimiento: 3 de junio de 1986, Manacor, España</p>
<p style="padding-left:20px;">Cónyuge: Xisca Perelló (m. 2019)</p>
<p style="padding-left:20px;">Títulos de Grand Slam ganados (individuales): 22</p>
<p style="padding-left:20px;">Estatura: 1,85 m</p>
<p style="padding-left:20px;">Peso: 85 kg</p>

{% endblock %}