{% extends 'base.html' %}

{% block title %}
    Sign in
{% endblock %}

{% block content %}
    <h1>Enter your data to sign in</h1>



    {% if form %}

        <form action="" method="POST">

            {% csrf_token %}

            <table>
                {{form.as_table}}
            </table>

            {% if errors %}
                <p style="color:red;">{{errors}}</p>
            {% endif %}

            <input type="submit" value="Ingresar">
        </form>
    {% endif %}

{% endblock %}