{% extends 'base.html' %}

{% block title %}
    Profile update
{% endblock %}

{% block content %}
    <h1>Data change</h1>



    {% if form %}

        <form action="" method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            <table>
                {{form.as_table}}
            </table>


            <input type="submit" value="Update" ><b>(Para conservar su foto de perfil debe volver a seleccionarla antes de actualizar!)</b>
        </form>
    {% endif %}

    {% if errors %}
        {{errors}}
    {% endif %}


{% endblock %}